.navbar { 
    display: inline;
     

}

.navbar a{
    text-decoration: none;
    padding-left: 15px; 
    color: #000; 
    opacity: 0.75; 
    font-family: Arial, sans-serif;
    font-size: 13px; 

}


.active {  
    float: right;
    margin-right: 15px; 
}



#brandlogo {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 180px;
}

input {
    display: block;
    float: center; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 15px; 
    width: 387px;
    height: 39px; 
    border-radius: 18px; 
}

#submittals {
    text-align: center; 
    margin-top: 15px; 
}

button {
    font-family: arial, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #5F6368; 
    border-radius: 4px; 
    border: 5px solid #f2f2f2; 
}

footer { 
    bottom: 0px; 
    position: fixed; 
    width: 103%;
    margin-left: -10px; 
    background: #f2f2f2; 
    line-height: 40px;
    border-top: 1px solid #e4e4e4; 
}

footer a { 
    display: inline-block; 
    text-decoration: none; 
    padding-left: 15px; 
    margin-left: 5px;  
    font-family: arial, sans-serif;
    font-size: 14px;
    color: rgb(112, 117, 122); 
}

.left {
    float: right; 
    padding-right: 60px; 
    margin-left: -30px;
}